{% extends 'base.html'%}
{% from 'macros/macro.html' import flash %}
<!-- Title -->
{% block title %} {%endblock%}

<!-- Jumbo Header -->
{% block jumpo_title%} {% endblock%}

<!-- Jumbo Text -->
{% block jumbo_text%} 
    {% if name and location%}
        {{name}}
        {{location}}
    {% endif%}
{% endblock %}

<!-- Jumbo Subtext -->
{% block jumbo_subtext%} 
  
    {{flash()}}
    <form action="/request" method="GET">
        <div class="form-row">
            <div class="col">
                <!-- Name -->
                <input type="text" class="form-control" placeholder="First name" name="name" >
            </div>
            <div class="col">
                <!-- Where -->
                <input type="text" class="form-control" placeholder="Location" name="where">
            </div>
            <div class="col">
                <!-- Submit -->
                <input type="submit" class="btn btn-primary"  value="submit">
            </div>
        </div>
    </form>
{% endblock%} 


<!-- Jumbo BTN  -->
{% block jumbo_btn %}

    <form action="" method="POST">
        <input type="submit" class="btn btn-danger" value="Post">
    </form>
{% endblock%}