{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-headeing">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <!-- Comments -->
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                    <a href="{{ url_for('notify.index' )}}">
                        <div class="panel-footer">
                            <!-- Details -->
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-cirle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

{% endblock %}