@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Ubuntu-regular/Ubuntu-regular.eot');
  src: url('./fonts/Ubuntu-regular/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu'),
       local('Ubuntu-regular'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.woff2') format('woff2'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.woff') format('woff'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.ttf') format('truetype'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.svg#Ubuntu') format('svg');
}

body {
    font-family: Ubuntu, verdana, georgia, serif, sans-serif;
}

a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    /*color: blue;*/
}
.bold {
    font-weight: bolder !important;
}
.sixty {
    width: 60%;
}
.twenty {
    width: 20%;
}
.fifteen {
    width: 15%;
}
.thirty {
    width: 30%;
}
.forty {
    width: 40%;
}
table {
    width: 100%;
}
div.panel, .btn, .navbar {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
    height: 50px;
}
footer {
    margin-top: 40px;
    margin-bottom: 20px;
}
.pad {
    margin-top: 10px !important;
}
div.panel-body {
    padding-top: 10px;
}
.panel-primary > .panel-heading {
    border-radius: 0;
    background-color: rgba(44, 62, 80, .9);
}
.panel-primary {
    /*border-color: rgba(51, 122, 183, .5);*/
    /*box-shadow: 2px 2px 2px rgba(51, 122, 183, .2);*/
    border-color: rgba(44, 62, 80, .5);
    box-shadow: 2px 2px 2px rgba(44, 62, 80, .5);
}
.panel-title {
    margin-bottom: 10px;
}
.btn-primary {
    background-color: rgb(44, 62, 80);
    border-color: rgba(44, 62, 80, .5);
}
.btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:visited  {
    background-color: rgba(44, 62, 80, .8);
    border-color: rgba(44, 62, 80, .5);
}
.big {
    font-size: 20px;
}
.mid {
    font-size: 16px;
}
.modal-header {
    text-align: center;
    font-weight: bold;
}
blockquote {
    padding: 1px 5px;
    margin: 0 0 10px;
    font-size: 13px;
    border-left: 3px solid rgba(51, 183, 112, .5);
}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: rgba(51, 183, 112, .9); 
    border-color: rgba(51, 183, 112, .5);
}
body > nav {
    border-radius: 0 !important; 
}
#page {
    padding-top: 70px;
}
.navbar-form .form-control {
    height: 45px;
}
.pageTitle {
    font-size: 30px;
    font-weight: bold;
}
div.thumbnail {
    /*box-shadow: 0px 0px 0px 1px rgba(44, 62, 80, .2);*/
    padding: 0;
}
.thumbnail-q {
    box-shadow: 0 0 0 0 !important;
}
ul.summary {
    list-style-type: none;
    text-align: center;
}
ul.summary > li {
    display: inline-block;
    padding-left: 10px;
}
footer {
    border-top: 1px solid rgba(44, 62, 80, .2);
}
#banner {
    height: 200px;
    background-color: #EDEDED;
    background: url('./img/brick-wall.png');
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}
#banner > div.nav {
    padding-right: 60px;
}
#banner > div.title > p.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    color: rgba(255, 165, 0, .9);
}
#banner > div.title > p.subtitle {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: rgba(255, 165, 0, .7)
}
.reg-page-banner {
    height: 150px !important;
}
.reg-page-banner > div.title > p.title {
    font-size: 30px;
}
.btn-rounded {
    border-radius: 50%;
}
.btn-rounded2 {
    border-radius: 20%;
}
hr {
    margin-top: 6px;
    margin-bottom: 10px;
}