{% extends 'base.html'%}
{% from 'macros/macro.html' import flash%}
<!-- Title -->
{% block title %} {%endblock%}

<!-- Jumbo Header -->
{% block jumpo_title%} <h1>Request args-get from search bar</h1> {% endblock%}

<!-- Jumbo Text -->
{% block jumbo_text%}

{% endblock %}

<!-- Jumbo Subtext -->
{% block jumbo_subtext%} 

<div class="container">
    <h1>{{result |upper}}</h1>
</div>

<div class="container">
    {% for char in result%}
        <p>{{char}}</p>
    {% endfor %}
</div>
{% endblock%}


<!-- Jumbo BTN  -->
{% block jumbo_btn %}
    {{flash()}}
{% endblock%}