{% extends "base.html" %}

{% block title %}Cart | Trendy Fashion Store{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-8">
		<h3 class="bold">
			<i class="glyphicon glyphicon-shopping-cart"></i> Your Shopping Cart
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				{% for product in products %}
				<div class="row">
					<div class="col-lg-4">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="thumbnail thumbnail-q">
								<img src="{{ product['image'] }}" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<h3 class="bold">{{ product['name'] }}</h3>
						<p>&dollar;{{ product['price'] / 100 }}</p>
						<br />
						<p>
							<a href="{{ url_for('remove_from_cart', index=product['index']) }}">
							<button type="button" class="btn btn-danger btn-xs">		
								<i class="glyphicon glyphicon-trash"></i>
							</button></a>
						</p>
					</div>
					<div class="col-lg-2">
						<h3>Quantity</h3>
						<p>
							{{ product['quantity'] }}
						</p>
					</div>
					<div class="col-lg-2">
						<h3>Total</h3>
						<p>
							<strong>&dollar;{{ product['total'] / 100 }}</strong>
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<h3 class="bold">
			<i class="glyphicon glyphicon-th-list"></i> Cart Summary
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				Current Cart Value
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<p>
						{{ quantity_total }} Items <strong class="pull-right">&dollar;{{ grand_total / 100 }}</strong>
					</p>
					<p>
						24hr Shipping <strong class="pull-right">&dollar;10</strong>
					</p>
				</li>
				<li class="list-group-item">
					<p>Total <strong class="pull-right">&dollar;{{ grand_total_plus_shipping / 100 }}</strong></p>
				</li>
			</ul>
			<div class="panel-footer">
				<a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">
					Checkout <i class="glyphicon glyphicon-chevron-right"></i>
				</a>
				<a href="{{ url_for('index') }}" class="btn btn-link btn-sm pull-right">
					<i class="glyphicon glyphicon-chevron-left"></i> Continue Shopping
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}