  
{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row">
        <h1>Flask-Admin </h1>
        <p class="lead">
            Customize the layout
        </p>
        <p>
            This example shows how you can customize the look & feel of the admin interface.
        </p>
        <p>
            This is done by overriding some of the built-in templates
        </p>
        <a href="/" class="btn btn-primary">
            <i class="glyphicon glyphicon-chevron-left"></i>
        Back
        </a>
    </div>


{% endblock body %}