{% extends "base.html" %}

{% block title %}Profile | Forum{% endblock %}

{% block body %}
<!-- display the page title and the number of threads we got from the database -->
<div class="pageTitle">My Profile</div>

<div class="row pad">
    <div class="col-lg-10  col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Info</h3>
            </div>
            <div class="panel-body">
                Below are my basic info
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Name: <strong class="pull-right">{{ current_user.name }}</strong>
                </li>
                <li class="list-group-item">
                    Email: <strong class="pull-right">{{ current_user.email }}</strong>
                </li>
                <li class="list-group-item">
                    Username: <strong class="pull-right">{{ current_user.username }}</strong>
                </li>
                <li class="list-group-item">
                    Num of Posts: <strong class="pull-right">{{ current_user.replies.count() }}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}