
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #434343;
    background-size: 75px 75px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
}
/* WHITE */
.backgroundGrid {
    background-color: #ffffff;
    background-size: 50px 50px;
    background-image:
            linear-gradient(
                    0deg,
                    transparent 24%,
                    rgba(0, 0, 0, .15) 25%,
                    rgba(0, 0, 0, .15) 26%,
                    transparent 27%,
                    transparent 74%,
                    rgba(0, 0, 0, .15) 75%,
                    rgba(0, 0, 0, .15) 76%,
                    transparent 77%,
                    transparent
            ),
            linear-gradient(
                    90deg,
                    transparent 24%,
                    rgba(0, 0, 0, .15) 25%,
                    rgba(0, 0, 0, .15) 26%,
                    transparent 27%,
                    transparent 74%,
                    rgba(0, 0, 0, .15) 75%,
                    rgba(0, 0, 0, .15) 76%,
                    transparent 77%,
                    transparent
            );
}

