{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <!-- Username -->
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <!-- Submit -->
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}
