<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax Cool</title>
    <link rel="stylesheet" href="../static/css/parallax_cool.css" type="text/css">
</head>
<body>

    <div id="title" class="slide header">
        <h1>Pure CSS Parallax</h1>
        <h1>CREDIT: 
            <ul>
                <li><a href="https://stackoverflow.com/a/23280573/13903942" target="_blank">KitKat StackOverflow</a></li>
                <li><a href="https://codepen.io/keithclark/pen/JycFw" target="_blank">Code Pen</a></li>
            </ul>
            
        </h1>
    </div>
    
    <div id="slide1" class="slide">
        <div class="title">
            <h1>Slide 1</h1>
            <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
        </div>
    </div>
        
    <div id="slide2" class="slide">
        <div class="title">
            <h1>Slide 2</h1>
            <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
        </div>
        <img src="https://lorempixel.com/640/480/abstract/6/">
        <img src="https://lorempixel.com/640/480/abstract/4/"> 
    </div>
        
    <div id="slide3" class="slide">
        <div class="title">
            <h1>Slide 3</h1>
            <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
        </div>
    </div>
    
    <div id="slide4" class="slide header">
        <h1>The End</h1>
    </div>
    
</body>
</html>