{% extends "base.html" %}
{% set active_page = "unanswered" %}
{% from "macro/show_links.html" import show_links %}

{% block title %}Unanswered Questions{% endblock %}

{% block nav %}
{{ show_links(user, active_page) }}
{% endblock %}

{% block body %}

      <div class="page-header">
        <h1>Questions For You</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            {% for question in questions %}
            <a href="{{ url_for('answer', question_id=question['id'], user_name=question['name'])}}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ question['question_text'] }}</h4>
              <p class="list-group-item-text btn btn-primary btn-sm">Asked by: {{ question['name'] }}</p> 
              <p class="list-group-item-text btn  btn-sm">Expert Requested: {{ question['expert_name'] }}</p>
            </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
      </div>
{% endblock %}